<p>Este es el ID de esta factura: {{ id }}</p>
<div style="text-align: right">
  <a class="btn btn-danger" routerLink="/movimientos">Atras</a>
</div>
<div class="card text-center">
  <div class="card-header">Cliente</div>
  <div class="card-body">
    <h5 class="card-title">Luis Eduardo Leal Diaz</h5>
    <div class="row" style="text-align: center">
      <div class="col-lg-6">
        <h6>Cedula</h6>
        275083872
      </div>
      <div class="col-lg-6">
        <h6>@Correo</h6>
        luisleal98e@gmail.com
      </div>
    </div>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="card-footer text-muted">Servicio</div>
  <div class="row" style="text-align: center">
    <div class="col-lg-6">
      <h6>Servicio</h6>
      Fibra Obtica
    </div>
    <div class="col-lg-6">
      <h6>Precio</h6>
      25.87
    </div>
  </div>
</div>

