<div style="text-align: right">
  <a class="btn btn-danger" routerLink="/clientes">Atras</a>
  <a class="btn btn-primary" routerLink="/servicios">Ir a servicios</a>
</div>
<div class="card text-center">
  <div class="card-header">Cliente</div>
  <div class="card-body">
    <h5 class="card-title">Luis Eduardo Leal Diaz</h5>
    <div class="row" style="text-align: center">
      <div class="col-lg-6">
        <h6>Cedula</h6>
        275083872
      </div>
      <div class="col-lg-6">
        <h6>@Correo</h6>
        luisleal98e@gmail.com
      </div>
    </div>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="card-footer text-muted">Servicios</div>
  <div class="row" style="text-align: center">
    <div class="col-lg-6">
      <h6>Servicio</h6>
    </div>
    <div class="col-lg-6">
      <h6>Precio</h6>
    </div>
  </div>
  <div
    class="row"
    style="text-align: center"
    *ngFor="let servicio of datosServicios"
  >
    <div class="col-lg-6">
      <label>{{ servicio.denominacion }}</label>
    </div>
    <div class="col-lg-6">
      <label>{{ servicio.precio }}</label>
    </div>
  </div>
</div>
