<nav class="navbar navbar-info bg-info">
    <div class="container-fluid">
      <a class="navbar-brand text-white">Servicios</a>
      <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#agregar"
      >
        Agregar
      </button>
    </div>
  </nav> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Denominacion</th>
        <th scope="col">Precio</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let servicio of datosServicios">
        <td>{{servicio.id}}</td>
        <td>{{servicio.name}}</td>
        <td>{{servicio.price}}</td>
        <td>
          <a routerLink="/servicios/{{servicio.id}}" class="btn btn-dark">Ver clientes afiliados</a>
          <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#agregar" (click)="obtenerDatos(servicio)">Editar</button>
          <button class="btn btn-danger" (click)="borrarDatos(servicio.id)">Borrar</button>
          <a routerLink="/servicios/verServicio/{{servicio.id}}" class="btn btn-success">Ver</a>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div
    class="modal fade"
    id="agregar"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir Servicio</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-8">
              <label>Denominacion</label>
              <input type="text" [(ngModel)]="selectedServicio.name" class="form-control" placeholder="Escribir..." />
            </div>
            <div class="col-lg-4">
              <label>Precio</label>
              <input type="number" [(ngModel)]="selectedServicio.price" class="form-control" placeholder="Escribir..." />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="enviarDatos()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  