<div style="text-align: right">
  <a class="btn btn-danger" routerLink="/servicios">Atras</a>
  <a class="btn btn-primary" routerLink="/clientes">Ir a clientes</a>
</div>
<div class="card text-center">
  <div class="card-header">Servicio</div>
  <div class="card-body">
    <h5 class="card-title">Fibra obtica (25.84)</h5>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
  <div class="card-footer text-muted">Clientes afiliados</div>
  <div class="row" style="text-align: center">
    <div class="col-lg-3">
      <h6>Nombre</h6>
    </div>
    <div class="col-lg-3">
      <h6>Apellido</h6>
    </div>
    <div class="col-lg-3">
      <h6>Cedula</h6>
    </div>
    <div class="col-lg-3">
      <h6>@Correo</h6>
    </div>
  </div>
  <div
    class="row"
    style="text-align: center"
    *ngFor="let cliente of datosClientes"
  >
    <div class="col-lg-3">
      <label>{{ cliente.nombre }}</label>
    </div>
    <div class="col-lg-3">
      <label>{{ cliente.apellido }}</label>
    </div>
    <div class="col-lg-3">
      <label>{{ cliente.cedula }}</label>
    </div>
    <div class="col-lg-3">
      <label>{{ cliente.correo }}</label>
    </div>
  </div>
</div>
