<nav class="navbar navbar-info bg-info">
  <div class="container-fluid">
    <a class="navbar-brand">Clientes</a>
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#agregar"
    >
      Agregar
    </button>
  </div>
</nav> 
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Cedula</th>
      <th scope="col">@Correo</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of datosClientes">
      <td>{{cliente.id}}</td>
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.apellido}}</td>
      <td>{{cliente.cedula}}</td>
      <td>{{cliente.correo}}</td>
      <td>
        <a routerLink="/clientes/{{cliente.id}}" class="btn btn-dark">Ver sus Servicios</a>
        <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#agregar" (click)="traerDatos(cliente)">Editar</button>
        <button class="btn btn-danger" (click)="borrarCliente(cliente.id)">Borrar</button>
      </td>
    </tr>
  </tbody>
</table>

<div
  class="modal fade"
  id="agregar"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Cliente</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <label>Nombre</label>
            <input type="text" [(ngModel)]="selectedCliente.nombre" class="form-control" placeholder="Escribir..." />
          </div>
          <div class="col-lg-6">
            <label>Apellido</label>
            <input type="text" [(ngModel)]="selectedCliente.apellido" class="form-control" placeholder="Escribir..." />
          </div>
          <div class="col-lg-6">
            <label>Cedula</label>
            <input type="text" [(ngModel)]="selectedCliente.cedula" class="form-control" placeholder="Escribir..." />
          </div>
          <div class="col-lg-6">
            <label>@Correo</label>
            <input type="text" [(ngModel)]="selectedCliente.correo" class="form-control" placeholder="Escribir..." />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="agregar()">Guardar</button>
      </div>
    </div>
  </div>
</div>
